<nav class="main-nav" id="main-nav" [class.is-open]="open">
  <ul>
    <li>
      <a href="#about" (click)="onClick()">About us</a>
    </li>
    <li>
      <a href="#howwework" (click)="onClick()">How We work</a>
    </li>
    <li>
      <a [routerLink]="'/portfolio'" (click)="onClick()">Portfolio</a>
    </li>
    <li>
      <a [routerLink]="'/news'" (click)="onClick()">News</a>
    </li>
    <li>
      <a href="#contacts" (click)="onClick()">Contacts</a>
    </li>
  </ul>
</nav>
<header class="header">
  <div class="container">
    <div class="header__box">
      <a [routerLink]="''" class="header__box-logo">
        <img src="assets/images/logo.svg" alt="">
      </a>
      <nav class="header__box-nav">
        <a href="#about">about us</a>
        <a href="#howwework">how we work</a>
        <a [routerLink]="'/portfolio'" >Portfolio</a>
        <a [routerLink]="'/news'">news</a>
        <a href="#contacts">contacts</a>
      </nav>
      <div class="open-main-nav" id="burger" [class.is-open]="open" (click)="onClick()">
        <div class="burger"></div>
      </div>

    </div>
  </div>
</header>
