<div class="col-6">
  <div class="contact-general__info-item">
    <div class="contact-general__info-head" translate><%= fieldConfig.label %></div>
    <div class="contact-general__info-content">
      <% if (wishItems.length > 0) { %>
      <p>
        <%= wishItems.join(", ") %>
      </p>
      <% } %>
      <% if (wishItems.length === 0) { %>
      <p translate>Not specified</p>
      <% } %>
    </div>
  </div>
</div>
