.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.wrap-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.form {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
