<div class="newspage">
  <div class="container">
    <h2>News</h2>
    <div class="newspage__box">
      <a [routerLink]="'/news/'+ 0" class="elements">
        <img src="assets/images/news1.svg" alt="">
        <div class="title">
          Стадії розробки сайту: від ідеї до втілення
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
      </a>
      <a [routerLink]="'/news/'+ 1" class="elements">
        <img src="assets/images/news2.svg" alt="">
        <div class="title">
          Стадії розробки сайту: від ідеї до втілення
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
      </a>
      <a [routerLink]="'/news/'+ 2" class="elements">
        <img src="assets/images/news3.svg" alt="">
        <div class="title">
          Стадії розробки сайту: від ідеї до втілення
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
      </a>
    </div>
    <div class="showmore">
      <div class="btn-showmore">
        <img src="assets/images/show-more.svg" alt="show more">
        Show more
      </div>
    </div>
  </div>
</div>
