<div class="readnews" *ngIf="id == 0">
  <div class="container">
    <div class="readnews__box">
      <div class="article">
        <img src="assets/images/news1.svg" alt="">
        <h3>Стадії розробки сайту: від ідеї до втілення</h3>
        <div class="date">01/05/19</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
      </div>
    </div>
  </div>
</div>
<div class="readnews" *ngIf="id == 1">
  <div class="container">
    <div class="readnews__box">
      <div class="article">
        <img src="assets/images/news2.svg" alt="">
        <h3>Стадії розробки сайту: від ідеї до втілення</h3>
        <div class="date">01/05/19</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
      </div>
    </div>
  </div>
</div>
<div class="readnews" *ngIf="id == 2">
  <div class="container">
    <div class="readnews__box">
      <div class="article">
        <img src="assets/images/news2.svg" alt="">
        <h3>Стадії розробки сайту: від ідеї до втілення</h3>
        <div class="date">01/05/19</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, explicabo facilis hic in ipsum laboriosam nihil nobis repellat? Accusamus accusantium architecto asperiores aspernatur dolores eos facilis illum inventore ipsam laudantium, modi molestiae obcaecati quo quod reprehenderit sint velit veniam voluptas.</p>
      </div>
    </div>
  </div>
</div>
