<div class="wrap">
<div class="grid">
  <div class="container">
    <div class="grid__box">
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
      <div class="grid__box-item"></div>
    </div>
  </div>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
