/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body {
  background: #fff;
  font-size: 14px;
  font-family: "Montserrat-Regular", sans-serif;
  min-height: 100vh;
  height: 100%;
  scroll-behavior: smooth; }
.mat-form-field-label-wrapper{
  border-bottom: 1px solid #fff;
}
.mat-form-field {
  width: 100%;
  color: #fff;
}
.contacts__box form .form__section input{
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.mat-form-field.mat-focused .mat-form-field-label{
  color: #fff;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: #fff;
}
.wrap-login .mat-form-field-appearance-legacy .mat-form-field-label{
  color: #000;
}
.wrap-login .mat-form-field.mat-focused .mat-form-field-label{
  color: #0996e2;
}
app-admin{
  margin-bottom: auto;
}
@import "assets/css/normalize.css";
@import "assets/css/styles.css";

