<ng-container *ngIf="id == 1">
  <div class="portfolio-section1">
    <div class="container">
      <div class="portfolio-section1__box">
        <div class="left">
          <h1>
            <span class="blue">we create</span> new opportunities on the internet for <span class="yellow">business</span>
          </h1>
          <div class="icons">
            <div class="icons__item">
              <img src="assets/images/creativity.svg" alt="creativity">
              <div class="title">
                design
              </div>
            </div>
            <div class="icons__item">
              <img src="assets/images/web-programming.svg" alt="creativity">
              <div class="title">
                develop
              </div>
            </div>
            <div class="icons__item">
              <img src="assets/images/coding.svg" alt="creativity">
              <div class="title">
                responsive
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/portfolio-busines.png" alt="portfolio business">
        </div>
      </div>
    </div>

  </div>

  <div class="portfolio-section2">
    <div class="container">
      <div class="portfolio-section2__box">
        <img src="assets/images/portfolio-business2.png" alt="">
        <div class="info-block">
          <h4>adaptive design</h4>
          <p>
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque  lectus. Donec consectetuer ligula vulputate sem tristique
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="portfolio-technologies" id="technologies">
    <div class="container">
      <h2>TECHNOLOGIES HAVE BEEN USED</h2>
      <div class="technologies__box">
        <div class="technologies__box-item">
          <div class="headline">
            DESIGN AND PROTOTYPING
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/photoshop.svg" alt="photoshop logo">
            <div class="title">Adobe photoshop</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/illustrator.svg" alt="ilustrator logo">
            <div class="title">adobe illustrator</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/figma-1%20(1).svg" alt="figma logo">
            <div class="title">Figma</div>
          </div>
        </div>
        <div class="technologies__box-item">
          <div class="headline">
            Front-end
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/angular.svg" alt="angular logo">
            <div class="title">angular</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/html-5.svg" alt="html logo">
            <div class="title">html</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/css-3.svg" alt="css logo">
            <div class="title">css</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/javascript.svg" alt="javascript logo">
            <div class="title">javascript</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/sass.svg" alt="sass logo">
            <div class="title">sass</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/gulp.svg" alt="gulp logo">
            <div class="title">gulp</div>
          </div>
        </div>
        <div class="technologies__box-item">
          <div class="headline">
            Back-end
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/nodejs.svg" alt="nodejs logo">
            <div class="title">nodejs</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/mongodb.svg" alt="mongodb logo">
            <div class="title">mongodb</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/express-109.svg" alt="express logo">
            <div class="title">express</div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="portfolio-fonts">
    <div class="container">
      <div class="portfolio-fonts__box">
        <div class="item bold">
          <div class="title">
            roboto bold
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
        <div class="item regular">
          <div class="title">
            roboto regular
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
        <div class="item light">
          <div class="title">
            roboto light
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-colours">
    <div class="container">
      <div class="portfolio-colours__box">
        <div class="elements">
          <div class="colour-item black">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#06001D"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
          <div class="colour-item yellow">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="#FFB800" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#FFB800"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
          <div class="colour-item grey">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="#FFB800" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#F5F5F5"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
        </div>
        <img src="assets/images/portfolio-business.png" alt="">
      </div>
    </div>
  </div>

  <div class="portfolio-lastblock">
    <div class="container">
      <div class="portfolio-lastblock__box">
        <img src="assets/images/bussines-lastimg.png" alt="">
        <div class="info-block">
          <h4>adaptive design</h4>
          <p>
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque  lectus. Donec consectetuer ligula vulputate sem tristique
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="id == 2">
  <div class="portfolio-section1">
    <div class="container">
      <div class="portfolio-section1__box">
        <div class="left">
          <h1>
            <span class="blue">we create</span> new opportunities on the internet for <span class="yellow" style="color: #2DB3FF;">laundrwise</span>
          </h1>
          <div class="icons">
            <div class="icons__item">
              <img src="assets/images/creativity.svg" alt="creativity">
              <div class="title">
                design
              </div>
            </div>
            <div class="icons__item">
              <img src="assets/images/web-programming.svg" alt="creativity">
              <div class="title">
                develop
              </div>
            </div>
            <div class="icons__item">
              <img src="assets/images/coding.svg" alt="creativity">
              <div class="title">
                responsive
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/portfolio-busines.png" alt="portfolio business">
        </div>
      </div>
    </div>

  </div>

  <div class="portfolio-section2">
    <div class="container">
      <div class="portfolio-section2__box">
        <img src="assets/images/portfolio-business2.png" alt="">
        <div class="info-block">
          <h4>adaptive design</h4>
          <p>
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque  lectus. Donec consectetuer ligula vulputate sem tristique
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="portfolio-technologies">
    <div class="container">
      <h2>TECHNOLOGIES HAVE BEEN USED</h2>
      <div class="technologies__box">
        <div class="technologies__box-item">
          <div class="headline">
            DESIGN AND PROTOTYPING
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/photoshop.svg" alt="photoshop logo">
            <div class="title">Adobe photoshop</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/illustrator.svg" alt="ilustrator logo">
            <div class="title">adobe illustrator</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/figma-1%20(1).svg" alt="figma logo">
            <div class="title">Figma</div>
          </div>
        </div>
        <div class="technologies__box-item">
          <div class="headline">
            Front-end
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/angular.svg" alt="angular logo">
            <div class="title">angular</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/html-5.svg" alt="html logo">
            <div class="title">html</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/css-3.svg" alt="css logo">
            <div class="title">css</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/javascript.svg" alt="javascript logo">
            <div class="title">javascript</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/sass.svg" alt="sass logo">
            <div class="title">sass</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/gulp.svg" alt="gulp logo">
            <div class="title">gulp</div>
          </div>
        </div>
        <div class="technologies__box-item">
          <div class="headline">
            Back-end
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/nodejs.svg" alt="nodejs logo">
            <div class="title">nodejs</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/mongodb.svg" alt="mongodb logo">
            <div class="title">mongodb</div>
          </div>
          <div class="techno-item">
            <img src="assets/images/technologies/express-109.svg" alt="express logo">
            <div class="title">express</div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="portfolio-fonts">
    <div class="container">
      <div class="portfolio-fonts__box">
        <div class="item bold">
          <div class="title">
            roboto bold
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
        <div class="item regular">
          <div class="title">
            roboto regular
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
        <div class="item light">
          <div class="title">
            roboto light
          </div>
          <div class="describe">
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-colours">
    <div class="container">
      <div class="portfolio-colours__box">
        <div class="elements">
          <div class="colour-item black">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#06001D"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
          <div class="colour-item yellow">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="#FFB800" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#FFB800"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
          <div class="colour-item grey">
            <svg width="100%" height="100%" viewBox="0 0 231 202" fill="#FFB800" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d)">
                <path d="M222.9 101.303L169.249 194.229L61.9462 194.229L8.29484 101.303L61.9462 8.37582L169.249 8.37583L222.9 101.303Z" fill="#F5F5F5"/>
              </g>
              <defs>
                <filter id="filter0_d" x="0.830389" y="0.911322" width="229.534" height="200.783" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset/>
                  <feGaussianBlur stdDeviation="3.73227"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
              </defs>
            </svg>

            <div class="text bold">
              #06001D
            </div>
            <div class="text regular">
              #06001D
            </div>
          </div>
        </div>
        <img src="assets/images/portfolio-business.png" alt="">
      </div>
    </div>
  </div>

  <div class="portfolio-lastblock">
    <div class="container">
      <div class="portfolio-lastblock__box">
        <img src="assets/images/bussines-lastimg.png" alt="">
        <div class="info-block">
          <h4>adaptive design</h4>
          <p>
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam Phasellus ultrices nulla quis nibh. Quisque  lectus. Donec consectetuer ligula vulputate sem tristique
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

