<div class="col-<%= fieldConfig.colSize %>">
  <div class="contact-general__info-item">
    <div class="contact-general__info-head" translate><%= fieldConfig.label %></div>
    <div class="contact-general__info-content">
      <p>
        <!--<% if (leftPosition) { %>-->
          <!--<%= %>-->
        <!--<% } %>-->
        {{formModel.<%= fieldConfig.name %>}}
      </p>
    </div>
  </div>
</div>

