<section class="about" id="about">
  <div class="container">
    <div class="about__box">
      <img src="assets/images/about.svg" alt="">
      <div class="content">
        <h2 class="about__headline">About us</h2>
        <p>
          Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
        </p>
      </div>
    </div>
  </div>
</section>
