<section class="technologies" id="technologies">
  <div class="container">
    <h2>Our technologies</h2>
    <div class="technologies__box">
      <div class="technologies__box-item">
        <div class="headline">
          DESIGN AND PROTOTYPING
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/photoshop.svg" alt="photoshop logo">
          <div class="title">Adobe photoshop</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/illustrator.svg" alt="ilustrator logo">
          <div class="title">adobe illustrator</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/experience.svg" alt="experience design logo">
          <div class="title">experience design</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/figma-1%20(1).svg" alt="figma logo">
          <div class="title">Figma</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/sketch.svg" alt="sketch logo">
          <div class="title">sketch</div>
        </div>
      </div>
      <div class="technologies__box-item">
        <div class="headline">
          Front-end
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/angular.svg" alt="angular logo">
          <div class="title">angular</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/html-5.svg" alt="html logo">
          <div class="title">html</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/css-3.svg" alt="css logo">
          <div class="title">css</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/javascript.svg" alt="javascript logo">
          <div class="title">javascript</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/bootstrap-4.svg" alt="bootstrap logo">
          <div class="title">bootstrap</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/sass.svg" alt="sass logo">
          <div class="title">sass</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/webpack.svg" alt="webpack logo">
          <div class="title">webpack</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/gulp.svg" alt="gulp logo">
          <div class="title">gulp</div>
        </div>
      </div>
      <div class="technologies__box-item">
        <div class="headline">
          Back-end
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/nodejs.svg" alt="nodejs logo">
          <div class="title">nodejs</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/Frame.svg" alt="adonis logo">
          <div class="title">adonis</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/mongodb.svg" alt="mongodb logo">
          <div class="title">mongodb</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/mysql.svg" alt="mysql logo">
          <div class="title">mysql</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/express-109.svg" alt="express logo">
          <div class="title">express</div>
        </div>
      </div>
      <div class="technologies__box-item">
        <div class="headline">
          setting cms
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/wordpress-blue.svg" alt="nodejs logo">
          <div class="title">wordpress</div>
        </div>
        <div class="techno-item">
          <img src="assets/images/technologies/opencart.svg" alt="adonis logo">
          <div class="title">opencart</div>
        </div>
      </div>
    </div>
  </div>
</section>
