<div class="wrap-container">
  <form (submit)="signin($event)" class="form">
    <mat-form-field>
      <input matInput placeholder="Login" name="name" [(ngModel)]="contact.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" name="email" [(ngModel)]="contact.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mobile" name="mobile" [(ngModel)]="contact.mobile">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Messanger" name="massenger" [(ngModel)]="contact.massenger">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Message" name="masseg" [(ngModel)]="contact.masseg">
    </mat-form-field>
<!--    <app-upload (onFs)="onFs($event)"></app-upload>-->
    <button type="submit" mat-raised-button color="primary">Send</button>
  </form>
</div>
<!--<input type="text">-->


<!--<section class="contacts" id="contacts">-->
<!--  <div class="container">-->
<!--    <h2>Contact Us</h2>-->
<!--    <div class="contacts__box">-->
<!--      <form action="">-->
<!--        <div class="form__section">-->
<!--          <input type="text" name="name" id="name" placeholder="Name">-->
<!--          <input type="email" name="email" id="email" placeholder="Email">-->
<!--          <input type="number" name="number" id="number" placeholder="Phone number">-->
<!--        </div>-->
<!--        <div class="form__section">-->
<!--          <input type="text" name="masangre" id="masanger" placeholder="Skype / WhatsUp / Telegram">-->
<!--          <input type="text" name="message" id="message" placeholder="Message">-->
<!--          <label for="file" class="labelfile">-->
<!--            <input type="file" id="file" class="inputfile" multiple  accept=".jpg, .jpeg, .png, .pdf, .text">-->
<!--            <span class="labelfile__element">-->
<!--                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                <path d="M7.5 0C3.36462 0 0 3.36433 0 7.5C0 11.6357 3.36462 15 7.5 15C11.6354 15 15 11.6357 15 7.5C15 3.36433 11.6354 0 7.5 0ZM7.5 14.4231C3.68279 14.4231 0.576923 11.3172 0.576923 7.5C0.576923 3.68279 3.68279 0.576923 7.5 0.576923C11.3172 0.576923 14.4231 3.68279 14.4231 7.5C14.4231 11.3172 11.3172 14.4231 7.5 14.4231Z" fill="#f1f1f1"/>-->
<!--                                <path d="M11.1058 7.21154H7.78847V4.03846C7.78847 3.87894 7.65924 3.75 7.5 3.75C7.34077 3.75 7.21154 3.87894 7.21154 4.03846V7.21154H3.89424C3.735 7.21154 3.60577 7.34048 3.60577 7.5C3.60577 7.65952 3.735 7.78846 3.89424 7.78846H7.21154V11.25C7.21154 11.4095 7.34077 11.5385 7.5 11.5385C7.65924 11.5385 7.78847 11.4095 7.78847 11.25V7.78846H11.1058C11.265 7.78846 11.3942 7.65952 11.3942 7.5C11.3942 7.34048 11.265 7.21154 11.1058 7.21154Z" fill="#f1f1f1"/>-->
<!--                            </svg>-->
<!--                            add file-->
<!--                        </span>-->
<!--            <span class="namefile">-->
<!--                        </span>-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="send">-->
<!--          <input type="submit" value="Send" class="send-element">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
