
<div class="news">
  <div class="container">
    <h2>Read also</h2>
    <div class="news__box">
      <div class="elements">
        <img src="assets/images/news1.svg" alt="">
        <div class="title">
          Стадії розробки сайту: від ідеї до втілення
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
        <a [routerLink]="'/news/'+ 0" (click)="onActivate()" class="read">read more</a>
      </div>
      <div class="elements">
        <img src="assets/images/news2.svg" alt="">
        <div class="title">
          Тренди графічного дизайну або як веб-дизайн допомагає...
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
        <a [routerLink]="'/news/'+ 1" (click)="onActivate()" class="read">read more</a>
      </div>
      <div class="elements">
        <img src="assets/images/news3.svg" alt="">
        <div class="title">
          Чому шаблонний сайт безкорисний для бізнесу
        </div>
        <div class="date">
          01/05/19
        </div>
        <div class="description">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </div>
        <a [routerLink]="'/news/'+ 2" (click)="onActivate()" class="read">read more</a>
      </div>
    </div>
  </div>
</div>
