.modal-wrap{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
.modal-content{
  padding: 25px 30px 40px 30px;
  margin: auto;
  height: 80vh;
  width: 90%;
  background-color: #fff;
  position: relative;
  z-index: 2;
  border-radius: 15px;
}
.content-wrap{
  overflow-y: auto;
  overflow-x: hidden;
}
.glasses{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.action{
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}
.action button{
  margin: 5px 10px;
}
